@model RootObject

@{
    ViewBag.Title = "Index";
}

<h2>Portifólio</h2>
<br />

<table class="table table-responsive">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Data de Nascimento</td>
            <td>Formação</td>
            <td>Experiência</td>
            <td>Experiência Total</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.Nome</td>
            <td>@Model.DataNascimento</td>
            <td>@Model.Formacao.FirstOrDefault().Curso</td>
            <td>@Model.Experiencia.FirstOrDefault().DetalheExperiencia</td>
            <td>@Model.ExperienciaTotal Meses</td>
        </tr>
    </tbody>
</table>