@model Protech_exercise.Models.Formacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Formacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConclusao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
